<%- partial('_partial/head') %>
<body>
<div class="container-fluid" id="day">
    <div class="row cont-wrap">
        <div class="col-sm-0 col-md-3 col-md-offset-2">
            <%- partial('_partial/header.ejs') %>
            <!--<%- partial('_partial/footer.ejs') %>-->
        </div>

        <div class="col-md-5 posts-wrap">
        <%- body %>
        </div>
    </div>
</div>
<div id="more" class="visible-lg visible-md">
</div>
<div id="pannel">
    <%- partial("_partial/pannel")%>
</div>
</body>
</html>
