<section id="<%= post.id || ''%>">
    <% var title = post.title %>
    <% var ptn = /^[Pp]oem/ %>
    <% if(ptn.exec(title)){ %>
        <% var fields = title.split(':') %>
        <% var ptitle = fields[1], author = fields[2] %>
        <div class="vertical">
            <span class="black"><%= ptitle %>＼<%= author %></span>
            <%- post.content %>
        </div>
    <% }else{ %>
        <p class="mytitle"><a href="<%- url_for(post.path) %>"><%= post.title %></a></p>
        <p class="mydate"><small><%= post.dt || post.date.format(theme.format_date || config.format_date ) %></small></p>
        <div><%- post.content %></div>
    <% } %>
</section>

<% if(!index){ %>
    <%- partial('_partial/nav', {page: page}) %>
<% } %>
