<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>
        <% if (page.title) { %>
        <%= page.title %>
        <% }else{ %>
        <%= config.title %>
        <% } %>
    </title>
    <%- css('css/highlight') %>
    <%- css('css/style') %>
    <%- css('css/bootstrap.min.css') %>
    <%- js('js/3rd-lib/jquery.min') %>
    <%- js('js/more') %>
    <%- js('js/shortcuts') %>
</head>